<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-h0g2xe7qdd1ei330.us.auth0.com</string>
	<key>ClientId</key>
	<string>lX7bvJa9H34KTd3Qw2Fh4wesOEUp9xIh</string>
</dict>
</plist>
